body {
  background-color: #222;
}

#container {
  margin: 0;
  padding: 0;
  height: 700px;
  width: 500px;
}

input.text-field, .btn, .combo-box {
  font-size: 16px;
  padding: 5px;
  background: #222;
  color: #f2f2f2;
  border-radius: 5px;
  border: #444 solid 1px;
  margin: 3px;
}

input.text-field:focus, .btn:focus, .combo-box:focus {
  outline: none;
}

.combo-box {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  transition: .4s;
}

.btn:hover {
  transform: scale(1.15);
  background: #6441A4;
}

#add-game-container {
  text-align: center;
  background: #333;
  padding: 5px;
  margin-bottom: 10px;
}

#status-game-to-add {
  font-size: 16px;
}

.disappear {
  opacity: 0;
  transition: opacity ease-in-out .5s;
}

div.divToRemove {
  opacity: 0.6;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px;
  height: 55px;
  width: 475px;
  margin: 0 auto;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}

div.divToRemove:hover {
  opacity: 1;
  background-color: #6441A4;
  transform: scale(1.02);
}

div.noStream {
  padding: 10px;
  width: 475px;
  text-align: center;
}

h1.noStream {
  font-size: 18px;
}

p, h1, div {
  font-family: "Times New Roman", serif;
  color: #f2f2f2;
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  float: left;
  width: 64px;
  height: 36px;
  padding: 10px;
}

.streamHoverParent {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out .5s;
  left: 50%;
}

.streamHoverChild {
  position: relative;
  left: -50%;
  z-index: 999;
  background: #222;
  color: #f2f2f2;
  font-size: 9px;
  padding: 3px;
  border-radius: 5px;
  max-width: 455px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 3px;
}
